<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tang.mapper.UsersMapper" >

    <!--结果集-->
    <resultMap id="BaseResultMap" type="com.tang.model.Users">
        <id column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="ENABLED" property="enabled" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_NON_EXPIRED" property="accountNonExpired" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_NON_LOCKED" property="accountNonLocked" jdbcType="VARCHAR"/>
        <result column="CREDENTIALS_NON_EXPIRED" property="credentialsNonExpired" jdbcType="VARCHAR"/>
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="VIP_VALID_DATE" property="vipValidDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        USER_ID, USERNAME, PASSWORD, PHONE, ENABLED, ACCOUNT_NON_EXPIRED, ACCOUNT_NON_LOCKED,
        CREDENTIALS_NON_EXPIRED, CREATE_BY, CREATE_TIME, REMARK, LAST_LOGIN_TIME, VIP_VALID_DATE
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from T_USERS
        where USER_ID = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from T_USERS
        where USER_ID = #{userId,jdbcType=INTEGER}
    </delete>

    <insert id="add" parameterType="com.tang.model.Users">
        insert into T_USERS (USER_ID, USERNAME, PASSWORD,
        PHONE, ENABLED, ACCOUNT_NON_EXPIRED,
        ACCOUNT_NON_LOCKED, CREDENTIALS_NON_EXPIRED,
        CREATE_BY, CREATE_TIME, REMARK,
        LAST_LOGIN_TIME, VIP_VALID_DATE)
        values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR}, #{enabled,jdbcType=VARCHAR}, #{accountNonExpired,jdbcType=VARCHAR},
        #{accountNonLocked,jdbcType=VARCHAR}, #{credentialsNonExpired,jdbcType=VARCHAR},
        #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
        #{lastLoginTime,jdbcType=TIMESTAMP}, #{vipValidDate,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.tang.model.Users">
        insert into T_USERS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            USER_ID,
            <if test="username != null and username != ''">
                USERNAME,
            </if>
            <if test="password != null and password != ''">
                PASSWORD,
            </if>
            <if test="phone != null and phone != ''">
                PHONE,
            </if>
            ENABLED,
            ACCOUNT_NON_EXPIRED,
            ACCOUNT_NON_LOCKED,
            CREDENTIALS_NON_EXPIRED,
            <if test="createBy != null and createBy != ''">
                CREATE_BY,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="remark != null and remark != ''">
                REMARK,
            </if>
            <if test="lastLoginTime != null">
                LAST_LOGIN_TIME,
            </if>
            <if test="vipValidDate != null">
                VIP_VALID_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userId,jdbcType=INTEGER},
            <if test="username != null and username != ''">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                #{phone,jdbcType=VARCHAR},
            </if>
            #{enabled,jdbcType=VARCHAR},
            #{accountNonExpired,jdbcType=VARCHAR},
            #{accountNonLocked,jdbcType=VARCHAR},
            #{credentialsNonExpired,jdbcType=VARCHAR},
            <if test="createBy != null and createBy != ''">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null and remark != ''">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="vipValidDate != null">
                #{vipValidDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="modifyById" parameterType="com.tang.model.Users">
        update T_USERS
        <set>
            <if test="username != null and username != ''">
                USERNAME = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null and enabled != ''">
                ENABLED = #{enabled,jdbcType=VARCHAR},
            </if>
            <if test="accountNonExpired != null and accountNonExpired != ''">
                ACCOUNT_NON_EXPIRED = #{accountNonExpired,jdbcType=VARCHAR},
            </if>
            <if test="accountNonLocked != null and accountNonLocked != ''">
                ACCOUNT_NON_LOCKED = #{accountNonLocked,jdbcType=VARCHAR},
            </if>
            <if test="credentialsNonExpired != null and credentialsNonExpired != ''">
                CREDENTIALS_NON_EXPIRED = #{credentialsNonExpired,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null and createBy != ''">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null and remark != ''">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="vipValidDate != null">
                VIP_VALID_DATE = #{vipValidDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where USER_ID = #{userId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.tang.model.Users">
        update T_USERS
        set USERNAME = #{username,jdbcType=VARCHAR},
        PASSWORD = #{password,jdbcType=VARCHAR},
        PHONE = #{phone,jdbcType=VARCHAR},
        ENABLED = #{enabled,jdbcType=VARCHAR},
        ACCOUNT_NON_EXPIRED = #{accountNonExpired,jdbcType=VARCHAR},
        ACCOUNT_NON_LOCKED = #{accountNonLocked,jdbcType=VARCHAR},
        CREDENTIALS_NON_EXPIRED = #{credentialsNonExpired,jdbcType=VARCHAR},
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        REMARK = #{remark,jdbcType=VARCHAR},
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
        VIP_VALID_DATE = #{vipValidDate,jdbcType=TIMESTAMP}
        where USER_ID = #{userId,jdbcType=INTEGER}
    </update>

    <!--获取所有的数据-->
    <select id="getAll" resultMap="BaseResultMap" useCache="false">
        SELECT * FROM T_USERS
        ORDER BY USER_ID DESC
    </select>

    <!--通过信息条件删除-->
    <delete id="delete">
        DELETE FROM T_USERS
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="userId != null'">
                USER_ID = #{userId,jdbcType=VARCHAR} AND
            </if>
            <if test="username != null and username != ''">
                USERNAME = #{username,jdbcType=VARCHAR} AND
            </if>
            <if test="password != null and password != ''">
                PASSWORD = #{password,jdbcType=VARCHAR} AND
            </if>
            <if test="phone != null and phone != ''">
                PHONE = #{phone,jdbcType=VARCHAR} AND
            </if>
            <if test="enabled != null and enabled != ''">
                ENABLED = #{enabled,jdbcType=VARCHAR} AND
            </if>
            <if test="accountNonExpired != null and accountNonExpired != ''">
                ACCOUNT_NON_EXPIRED = #{accountNonExpired,jdbcType=VARCHAR} AND
            </if>
            <if test="accountNonLocked != null and accountNonLocked != ''">
                ACCOUNT_NON_LOCKED = #{accountNonLocked,jdbcType=VARCHAR} AND
            </if>
            <if test="credentialsNonExpired != null and credentialsNonExpired != ''">
                CREDENTIALS_NON_EXPIRED = #{credentialsNonExpired,jdbcType=VARCHAR} AND
            </if>
            <if test="createBy != null and createBy != ''">
                CREATE_BY = #{createBy,jdbcType=VARCHAR} AND
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} AND
            </if>
            <if test="remark != null and remark != ''">
                REMARK = #{remark,jdbcType=VARCHAR} AND
            </if>
            <if test="lastLoginTime != null">
                LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP} AND
            </if>
            <if test="vipValidDate != null">
                VIP_VALID_DATE = #{vipValidDate,jdbcType=TIMESTAMP} AND
            </if>
        </trim>
    </delete>




</mapper>